
.creations {

  &__container {
  }

  &__title {
    color: $black;
    font-weight: 400;
    font-size: 1.9rem;
    justify-content: center;
    margin-bottom: 3.125rem;
    text-transform: uppercase;
    @extend %josefinSans, %flex;
  }

  &__grid {
    width: 100%;
    height: auto;
    @extend %flex, %flex-fd_column, %flex-jc_center-ai_center;

    @include breakpoint-up (desktop) {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(4, 200px);
    }

    &__item {
      $this: &;

      width: 100%;
      height: 120px;
      @extend %flex;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      border-radius: 4px;
      max-width: 22.875rem;
      background-size: cover;
      background-position: center;
      transition: all .4s ease-in-out;
      box-shadow: 0 5px 5px -1px rgba($color: $black, $alpha: .6);
      
      &::before {
        z-index: 1;
        content: '';
        top: 0px;
        left: 0px;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        backdrop-filter: blur(12px);
        transition: all .4s ease-in-out;
        background-color: rgba($color: $white, $alpha: .1);
      }

      &:not(:last-child) {
        margin-bottom: 1.25rem;

        @include breakpoint-up (medium) {
          margin-bottom: 0;
        }
      }

      &:hover {
        &::before {
          opacity: 1;
        }

        #{$this}__title {
          font-weight: 700;
        }
      }

      @include breakpoint-up (mobile) {
        height: 120px;
      }
      
      @include breakpoint-up (medium) {
        height: 120px;
        max-width: unset;
      }

      @include breakpoint-up (desktop) {
        height: 312px;
      }

      @include breakpoint-up (medium) {
        &:nth-child(2n) {
          align-self: flex-start;
        }

        &:nth-child(1 + 2n) {
          align-self: flex-end;
        }
      }

      $itemList: (
        'grid',
        'fisheye',
        'curiosity',
        'deep-earth',
        'from-above',
        'soccer-team',
        'night-arcade',
        'pocket-borealis'
      );

      @each $itemClass in $itemList {
        &.#{$itemClass} {
          background-image:
            linear-gradient(
              to left,
              transparent,
              rgba($color: $black, $alpha: .6)
            ),
            url('../../images/mobile/image-#{$itemClass}.jpg');

          @include breakpoint-up (medium) {
            background-image:
              linear-gradient(
                to bottom,
                transparent,
                rgba($color: $black, $alpha: .6)
              ),
              url('../../images/desktop/image-#{$itemClass}.jpg');
          }
        }
      }

      &__title {
        z-index: 2;
        color: $white;
        max-width: 45%;
        font-weight: 100;
        font-size: 1.7rem;
        @extend %josefinSans;
        margin: 0 0 15px 15px;
        align-self: flex-end;
        justify-self: flex-start;
        text-transform: uppercase;
        transition: all .2s ease-in-out;
      }
    }
  }

}
