
body {
  height: 5000px;
  position: relative;
  scroll-behavior: smooth;
  background-color: $white;
}

.container {
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  max-width: $maxMobileContainerSize;

  &--middle {
    margin-top: 4rem;
  }

  @include breakpoint-up (mobile) {
    // padding: 1.5rem 3rem;
  }

  @include breakpoint-up (medium) {
    max-width: 43rem;
    padding: 2.5rem 2rem;
  }

  @include breakpoint-up (desktop) {
    padding: 3.75rem 2rem;
    max-width: $maxDesktopContainerSize;
  }
}

%alata {
  font-family: 'Alata', sans-serif;
}

%josefinSans {
  font-family: 'Josefin Sans', sans-serif;
}

%flex {
  display: flex;

  &-fd_column {
    flex-direction: column;
  }

  &-jc_center-ai_center {
    align-items: center;
    justify-content: center;
  }

  &-jc_spacebetween-ai-center {
    align-items: center;
    justify-content: space-between;
  }
}

.onlyMobile {
  @include breakpoint-up(desktop) {
    display: none !important;
  };
}

.onlyDesktop {
  @include breakpoint-down(desktop) {
    display: none;
  };
}

