
body {
  position: relative;
  background-color: $white;
}

.container {
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  max-width: $maxMobileContainerSize;
}

%alata {
  font-family: 'Alata', sans-serif;
}

%josefinSans {
  font-family: 'Josefin Sans', sans-serif;
}

%flex {
  display: flex;

  &-fd_column {
    flex-direction: column;
  }

  &-jc_center-ai_center {
    align-items: center;
    justify-content: center;
  }

  &-jc_spacebetween-ai-center {
    align-items: center;
    justify-content: space-between;
  }
}

.onlyMobile {
  @include breakpoint-up(mobile) {
    display: none;
  };
}

.onlyDesktop {
  @include breakpoint-down(desktop) {
    display: none;
  };
}

%fadeIn {
  visibility: hidden;
  animation: fadeIn .4s ease-in-out forwards;
}

%fadeOut {
  visibility: hidden;
  animation: fadeOut .4s ease-in-out forwards;
}
