
.header {
  position: relative;
  min-height: $mobileHeaderHeight;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../images/mobile/image-hero.jpg');

  &__container {
    @extend
    %flex,
    %flex-fd_column,
    %flex-jc_spacebetween-ai-center;
  }

  &__nav {
    @extend
    %flex,
    %flex-jc_spacebetween-ai-center;
    position: relative;
    max-height: 3.125rem;
  }

  &__logo {
    max-width: 48%;
    width: 15.625rem;

    img {
      width: 100%;
    }
  }

  &__menu {
    width: 1.5rem;
    height: 1.20rem;

    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    & > * {
      width: 100%;
      height: 2px;
      background-color: $white;
      transition: all .2s ease-in-out;

      $transformOrigins: ( 1: 2px, 2: center, 3: 0px );

      @for $i from 1 through length($transformOrigins) {
        &:nth-child(#{$i}) {
          transform-origin: left map-get($transformOrigins, $i);
        }
      }
    }
  }

  &__hero {
    border: solid 3px $white;
  }

  &.open &__menu {
    & > *:nth-child(1) {
      transform: rotate(45deg);
    }

    & > *:nth-child(2) {
      opacity: 0;
    }

    & > *:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
